/* CSS! */
* {
    margin: 0;
    padding: 0;
    --LightColor: #eae0cc;
    --GreyLightColor: #d7d7d7;
    --GrayColor: #bababa;
    --PrimeColor: #a52422;
    --SecondColor: #33658a;
    --DarkColor: #30343f;
    --SemiDarkColor: #595959;
    --DarkDarkColor: #17181a;

    font-family: "Noto Sans TC", sans-serif;
    font-weight: 100;
}
/* Font Weights */
.small {
    font-weight: 200;
}
.small-plus {
    font-weight: 300;
}
.medium {
    font-weight: 400;
}
.large {
    font-weight: 800;
}
/* General */
h1 {
    font-weight: 600;
}
h3 {
    font-weight: 500;
}
h4 {
    font-weight: 400;
}
.center {
    text-align: center;
}
body {
    overflow-x: hidden;
    max-width: 100vw;
}
html {
    overflow-x: hidden;
    max-width: 100vw;
    font-family: "Noto Sans TC", sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#33658a, #33658acc),
        url("../images/snowymountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navigation / Menu */
nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
nav .fa {
    display: none;
}
#logo {
    height: auto;
    width: 100%;
}
#logo-container {
    width: 10%;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: var(--PrimeColor);
    text-decoration: none;
    font-weight: bolder;
    font-size: 150%;

    font-family: "Rajdhani", sans-serif;
    transition-property: color;
    transition-duration: 200ms;
}
.nav-links ul li :hover {
    color: var(--GrayColor);
    cursor: help;
    transition-property: color;
    transition-duration: 200ms;
}
.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 4px;
    background: var(--GrayColor);
    display: block;
    margin: auto;

    transition-property: width, height;
    transition-duration: 500ms, 500ms, 1s;
}
.nav-links ul li :hover::after {
    width: 100%;
    height: 4px;

    transition-property: width, height;
    transition-duration: 500ms, 500ms;
}
/* Textbox */
.text-box {
    width: 90%;
    color: var(--LightColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    color: var(--GrayColor);
    font-size: 36px;
    font-weight: 800;

    font-family: "Noto Sans", sans-serif;
}
.text-box p {
    margin: 10px 0px 40px;
    font-family: "Roboto Condensed", sans-serif;
}

.prime-button {
    display: inline-block;
    text-decoration: none;
    color: var(--LightColor);
    border: 2px solid var(--LightColor);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;

    transition-duration: 500ms;
}

.prime-button:hover {
    transition-duration: 500ms;
    border-color: var(--PrimeColor);
    background-color: var(--PrimeColor);
}
/* Lessons */
.lessons {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.lessons h1 {
    font-weight: 600;
    font-size: 36px;
    color: var(--DarkColor);
}
.lessons p {
    color: var(--SemiDarkColor);
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.lessons-col {
    flex-basis: 31%;
    background: var(--LightColor);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

    transition-duration: 500ms;
    transition-property: box-shadow;
}
.lessons-col:hover {
    box-shadow: 0 0 20px 0px rgba(1, 1, 1, 0.2);
    transition-property: box-shadow;
    transition-duration: 500ms;
}
.lessons-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
/* Our Big Mountain */
.our-big-mountain {
    font-weight: 200;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.big-mountain-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 500px;
}
.big-mountain-col img {
    width: 200%;
    margin-left: -150px;
    min-height: 100%;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;

    transition-duration: 500ms;
}
.layer:hover {
    background: color-mix(in srgb, var(--PrimeColor), transparent 66%);
    transition-duration: 500ms;
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 500ms;
}
.layer h3::after {
    content: "?";
    opacity: 0;
    transition-duration: 250ms;
}

.layer:hover h3::after {
    opacity: 1;
    transition-duration: 10s;
    transition-delay: 10s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 49%;
    transition: 500ms;
}
#secret {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: -10;
    left: 0;
    position: absolute;
    opacity: 0;
    transition-duration: 50ms;
}
.layer:hover #secret {
    font-size: 20px;
    color: red;
    bottom: 20%;
    opacity: 1;
    transition-duration: 10s;
    transition-delay: 10s;
}
/* Facilities */
.facilities {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img {
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    min-height: 300px;
}
.facilities-col p {
    padding: 0;
    font-weight: 300;
}
.facilities-col h3 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;
}
.bj {
    position: absolute;
    font-weight: bolder;
    font-size: xx-large;
    color: aliceblue;
    opacity: 0;

    transition-duration: 25ms;
}
#breadstuarant:hover .bj {
    opacity: 1;

    transition-delay: 5s;
    transition-duration: 500ms;
}
/* reviews */
.reviews {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    height: 100vh;
    background-color: var(--GreyLightColor);
}

.carousel {
    border: 1px solid
        color-mix(in srgb, var(--GreyLightColor), (--DarkDarkColor));
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px
        color-mix(in srgb, var(--DarkDarkColor), transparent);
    overflow: hidden;
    background-color: var(--GreyLightColor);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel .review-item-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 55px 37px 0px 37px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 0 0 100%;
    height: fit-content;
    position: relative;

    transform: translateX();
    transition: transform 1.5s ease;
}

.carousel .carousel-text-content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    justify-content: center;
}

.carousel .carousel-text-content p {
    color: var(--SecondColor);
    line-height: 2.2ex;
    font-family: "Noto Traditional Nushu";
    font-weight: 300;
    word-spacing: 1px;
    flex-grow: 0;
}
.carousel .carousel-text-content h3 {
    color: var(--DarkColor);
    font-size: 30px;
    margin-top: 20px;
}
.carousel .carousel-text-content h4 {
    color: var(--DarkColor);
}

.carousel img {
    position: relative;
    margin: 0 0 0 37px;
    width: 50%;
    height: 391px;
    object-position: center 30%;
    flex-shrink: 1;
    border-radius: 2px;
    box-shadow: 0 0 4px 1px var(--DarkDarkColor);
    object-fit: cover;
}

.carousel .review-item-wrapper:not(.active) {
    position: absolute;
    top: 0;
    transform: translateX(-100%);

    transition: transform 1.5s ease;
}
.carousel .review-item-wrapper:not(.previously-active):not(.active){
    position: absolute;
    top: 0;
    transform: translateX(100%);

    transition: none;
}
.carousel .review-item-wrapper .active {
    top: 0;

}
.carousel .review-item-wrapper .previously-active {
    position: absolute;
    top: 0;
    transform: translateX(100%);

    transition: transform 1.5s ease; 
}
.small-rev{
    font-size: 2em;
}
.medium-rev{
    font-size: 1.8em;
}
.large-rev{
    font-size: 1.5em;
}

#carousel-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    margin-top: 5%;
    width: 100%;
}

.dot{
    border-radius: 100px;
    height: 24px;
    width: 24px;
    background-color:  #33648a69;
    margin: 0 4 0 4;

    transition-duration: 300ms;
    transition-property: background-color;
}
.dot:hover{
    cursor: pointer;
}
.active-dot{
    background-color: var(--SecondColor);

    transition-duration: 300ms;
    transition-property: background-color;
}
/* Media Tag, For Stuff On Mobile */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 12px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: var(--PrimeColor);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

        transition-property: right;
        transition-duration: 500ms;
    }
    .nav-links ul li a {
        display: block;
        color: var(--LightColor);
    }
    nav .fa {
        display: block;
        color: var(--LightColor);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .row {
        flex-direction: column;
    }
}
